<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <title>看看</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="__PUBLIC__/front/css/jquery.mobile-1.4.5.min.css" />
    <script src="__PUBLIC__/front/js/jquery-2.2.2.js"></script>
    <script src="__PUBLIC__/front/js/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
	<div data-role="page">
		
		<div data-role="header" data-position="fixed">
			<!--导航条-->
			<div data-role="navbar">
				<ul>
					<li><a href="__MODULE__/kankan/kankan.html" style="font-size:15px;">所有动态</a></li>
                    <li><a href="__MODULE__/kankan/tbgx.html" style="font-size:15px;">特别关心</a></li>
                    <li><a href="__MODULE__/kankan/wzdt.html" style="font-size:15px;">文字动态</a></li>
                    <li><a href="__MODULE__/kankan/tpdt.html" style="font-size:15px;">图片动态</a></li>
				</ul>
			</div>
		</div>

		<div data-role="content">
			
			<div style="margin:0px 0 0 0;">
				<h5>图片动态</h5>
				<br/>
				<div>
                    <img src="__PUBLIC__/front/images/kankan-user.png" style="margin:-10px 0 0 0;">
                    <p style="margin:-38px 0 0 60px; font-size:10px;">liberté</p>
                    <p style="float:right; margin:-13px 0px 0 240px; font-size:8px;">2016.11.22 15:06</p>
                    <div class="content">
                    	<br/>
                        <img src="__PUBLIC__/front/images/mine-hsd.png" width="300px" height="150px" style="margin:15px 0 0 20px;">
                        </div>
                        <br/>
                        &nbsp;<a href=""><img src="__PUBLIC__/front/images/mine-dianzan.png"></a>
                        &nbsp;<a href=""><img src="__PUBLIC__/front/images/mine-pinglun.png"></a>
                        &nbsp;<a href=""><img src="__PUBLIC__/front/images/mine-zhuanfa.png"></a>
                    </div>
                </div> 
                    <img src="__PUBLIC__/front/images/longline.png" style="margin:0 0 0 -15px; width:1500px; ">

                <div>
                    <img src="__PUBLIC__/front/images/kankan-user.png" style="margin:10px 0 0 0;">
                    <p style="margin:-38px 0 0 60px; font-size:10px;">liberté</p>
                    <p style="float:right; margin:-13px 0px 0 240px; font-size:8px;">2016.11.22 15:06</p>
                    <div class="content">
                        <br/>
                        <img src="__PUBLIC__/front/images/mine-hsd.png" width="300px" height="150px" style="margin:15px 0 0 20px;">
                        </div>
                        <br/>
                        &nbsp;<a href=""><img src="__PUBLIC__/front/images/mine-dianzan.png"></a>
                        &nbsp;<a href=""><img src="__PUBLIC__/front/images/mine-pinglun.png"></a>
                        &nbsp;<a href=""><img src="__PUBLIC__/front/images/mine-zhuanfa.png"></a>
                    </div>
                </div> 
                    <img src="__PUBLIC__/front/images/longline.png" style="margin:0 0 0 -15px; width:1500px;">

                <div>
                    <img src="__PUBLIC__/front/images/kankan-user.png" style="margin:10px 0 0 0;">
                    <p style="margin:-38px 0 0 60px; font-size:10px;">liberté</p>
                    <p style="float:right; margin:-13px 0px 0 240px; font-size:8px;">2016.11.22 15:06</p>
                    <div class="content">
                        <br/>
                        <img src="__PUBLIC__/front/images/mine-hsd.png" width="300px" height="150px" style="margin:15px 0 0 20px;">
                        </div>
                        <br/>
                        &nbsp;<a href=""><img src="__PUBLIC__/front/images/mine-dianzan.png"></a>
                        &nbsp;<a href=""><img src="__PUBLIC__/front/images/mine-pinglun.png"></a>
                        &nbsp;<a href=""><img src="__PUBLIC__/front/images/mine-zhuanfa.png"></a>
                    </div>
                </div> 
                    <img src="__PUBLIC__/front/images/longline.png" style="margin:0 0 0 -15px; width:1500px;">

                <div>
                    <img src="__PUBLIC__/front/images/kankan-user.png" style="margin:10px 0 0 0;">
                    <p style="margin:-38px 0 0 60px; font-size:10px;">liberté</p>
                    <p style="float:right; margin:-13px 0px 0 240px; font-size:8px;">2016.11.22 15:06</p>
                    <div class="content">
                        <br/>
                        <img src="__PUBLIC__/front/images/mine-hsd.png" width="300px" height="150px" style="margin:15px 0 0 20px;">
                        </div>
                        <br/>
                        &nbsp;<a href=""><img src="__PUBLIC__/front/images/mine-dianzan.png"></a>
                        &nbsp;<a href=""><img src="__PUBLIC__/front/images/mine-pinglun.png"></a>
                        &nbsp;<a href=""><img src="__PUBLIC__/front/images/mine-zhuanfa.png"></a>
                    </div>
                </div> 

			</div>
		</div>

		<div data-role="footer" data-position="fixed"> 
            <div data-role="navbar">
              <ul>
                <li >
                    <a href="__MODULE__/index/index.html" style="background-color:#6fd7ca;">
                        <img src="__PUBLIC__/front/images/shouye.png" style="width:24px; height:24px;">
                        <p style="margin:1px 0px -5px 0px;color: #fff;font-size:12px;font-weight:100;">首页</p>
                    </a>
                </li>
                <li>
                    <a href="__MODULE__/task/task.html"  style="background-color:#6fd7ca;">
                        <img src="__PUBLIC__/front/images/renwu.png" style="width:24px; height:24px;">
                        <p style="margin:1px 0px -5px 0px;color: #fff;font-size:12px;font-weight:100;">匹配任务</p>
                    </a>
                </li>
                <li>
                    <a href="__MODULE__/kankan/kankan.html"  style="background-color:#6fd7ca;">
                        <img src="__PUBLIC__/front/images/kankan.png" style="width:24px; height:24px;">
                        <p style="margin:1px 0px -5px 0px;color: #fff;font-size:12px;font-weight:100;">看看</p>
                    </a>
                </li>
                <li>
                    <a href="__MODULE__/foot/foot.html"  style="background-color:#6fd7ca;">
                        <img src="__PUBLIC__/front/images/zuji.png" style="width:24px; height:24px;">
                        <p style="margin:1px 0px -5px 0px;color: #fff;font-size:12px;font-weight:100;">足迹</p>
                    </a>
                </li>
                <li>
                    <a href="__MODULE__/mine/mine.html"  style="background-color:#6fd7ca;">
                        <img src="__PUBLIC__/front/images/wode.png" style="width:24px; height:24px;">
                        <p style="margin:1px 0px -5px 0px;color: #fff;font-size:12px;font-weight:100;">我的</p>
                    </a>
                </li>
              </ul>
            </div>
        </div>

	</div>

</body>
</html>