<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>发表动态</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="__PUBLIC__/front/css/jquery.mobile-1.4.5.min.css" />
    <script src="__PUBLIC__/front/js/jquery-2.2.2.js"></script>
    <script src="__PUBLIC__/front/js/jquery.mobile-1.4.5.min.js"></script>    
</head>
<body>
	<div data-role="page">
        <div data-role="header" style="background-color:#6fd7ca; color:white;">
            <a href="__MODULE__/mine/mine.html" data-icon="arrow-l" data-iconpos="notext"></a>
            <h1 style="font-weight:200;">说说你想说的吧</h1>            
        </div>
        <div data-role="content">
            <form method="post" action="demo_form.php">
				<div class="ui-field-contain">
				<label for="info"></label>
				<textarea name="addinfo" id="info">
					
				</textarea>
				</div>
			</form>
        </div>
    </div> 
</body>
</html>