body{
	font-family: '微软雅黑';
	text-decoration: none;
}
a{
	text-decoration: none;
}
/*
.ui-icon-haoyou{
	background-image: url(../images/mine-haoyou.png);
	background-repeat: no-repeat;
	background-position: center;
}
.ui-icon-shoucang{
	background-image: url(../images/mine-shoucang.png);
}
.ui-icon-chengjiu{
	background-image: url(../images/mine-chengjiu.png);
}
.ui-icon-tixing{
	background-image: url(../images/mine-tixing.png);
}
*/
/*mine.html*/
.user a{
	text-align: center;
}
.user p{
	text-align: center;
}
/*kankan.html*/
.kankan-nav ul li a{
	font-size: 15px;
}