@charset "utf-8";
*{margin:0;padding:0;list-style:none;border:0;}
body{width:100%;margin:0 auto;overflow:hidden}
p{font-size:12px;font-weight:200;}
/*因为从show点到activity-specific的时候 activity-specific的字号和颜色没有变化 所以加了一条这个 加了之后就能实现效果了*/

/* main_image */
.main_visual{border-top:1px solid #d7d7d7;overflow:hidden;position:relative;}
.main_image{max-height:692px;height:100%;position:relative;padding-top: 52%;}
.main_image ul{max-width:1500px;width:100%;height:422px;overflow:hidden;position:absolute;top:0;left:0}
.main_image li{float:left;width:100%;}

.main_image li a{width:100%;height:422px}
.main_image li .img{width: 100%; max-width: 1500px;}

div.flicking_con{position:absolute;top:170px;left:50%;z-index:999;width:300px;height:21px;margin:0 0 0 -40px;}
                       /*这里设置了top:140px之后 就只能让图片固定在那个位置 屏幕变化的话图片仍然不动*/
div.flicking_con a{float:left;width:21px;height:21px;margin:0;padding:0;background:url('../images/index-btn-main-img.png') 0 0 no-repeat;display:block;text-indent:-1000px}
div.flicking_con a.on{background-position:0 -21px}
#btn_prev,#btn_next{z-index:11111;position:absolute;display:block;width:20px!important;height:20px!important;top:50%;margin-top:-20px;display:none;}
#btn_prev{background:url(../images/index-hover-left.png) left no-repeat;left:0px;}
#btn_next{background:url(../images/index-hover-right.png) no-repeat right;right:0px;}